.table-wrapper {
    font-family: 'Roboto', regular;
    background-color: #202124;
}

.text-field {
  border: 1px solid #71717A;
}

.tree-line {
 
    //   &:before {
    //     position: relative;
    //     content: "";
    //     height: 60px;
    //     width: 28px;
    //     left: 28px;
    //     top: 37px;
    //     border: 1px solid #C6C6C6;
    //     border-width: 0px 0px 1px 1px;
    // }
    &.child {
      position: absolute;
      &:before {
        position: relative;
        content: "";
        border-left: 1px solid #C6C6C6;
        height: 60px;
        top: 37px;
        right: -5px
      }
       &:after {
        position: relative;
        content: "";
        border-bottom: 1px solid #C6C6C6;
        width: 28px;
        left: -100px
      }
    }
  
    
}